*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-gutter: stable both-edges;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
